body{
	padding: 5px;
	margin: 5px;
}
header{
	background-image:url("../images/flywheel.png"); 
	border:10px;
   padding: 45px;
   padding-top: 20px;
    text-align: center;
}
h1{
	font-size: 25px;
	color: #ffffff;
	font-variant: small-caps;
}
nav a{
	text-decoration: none;
	text-align: center;
	background-color:rgba(172,161,161,0.315);
	display: inline-block;
	padding: 10px;
	margin: 5px;
	font-weight: bold;
	color: #000000;
}
nav a:focus{
background-color: #ffffff;
}
nav a:active{
	background-color:#ffffff;
}
aside{
	margin: 0px;
}
.left{
display:inline-grid;
float: left;
background-color:#5e6b12;
padding: 2px;
border:2px;
margin:2px;
}

.left img{
	align-self: center;
	height: 200px;
	width: 200px;
	border: solid black 2px;
}
.right{
	display:grid;
	float:inherit;
}
h2{
	text-transform: uppercase;
	color: rgba(8,8,8);
}
table{
	font-family: sans-serif, "Times New Roman";
	font-size: 20px;
	font-weight: lighter;
	line-height: 45px;
	width: auto;
	align-self: center;
	margin: 1rem 3rem;
    padding: 10px;
border-bottom-width: thick;

}
tr{
    background-color:rgba(34 199 45 / 6%);
	border-radius:8px;
}
th{
   color: #ffffff;
   background:#c7ef13bd;
   background: -webkit-linear-gradient( #c7ef13bd, #6aa321);
   background:    -moz-linear-gradient( #c7ef13bd, #6aa321);
   background:         linear-gradient( #c7ef13bd, #6aa321);
   border-top-right-radius: 2px;
}
th:nth-child(1)
{
	text-align: left;
}
td{
	padding: 2px;
	background-color:#53c83e3d;
	border-radius: 2px;
	font-weight: lighter;
	opacity: .7;
}
td:hover
{
	opacity: 1;
}
td:nth-child(2)
 {
 	text-align:center;
 }
 td:nth-child(3)
 {
 	text-align: center;
 }