.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.header-left {
    color: orange;
    font-style: italic;
}

.header-right button {
    background-color: black;
    color: #fff;
    border: none;
    outline: none;
    padding: 4px;
}

.banner img {
    width: 100%;
    /* height: auto !important; */
    height: 100%;
    object-fit: contain;

}

/* sale lên bên phải */
.content {
    display: flex;
}

.menu {
    background-color: #333;
    flex: 1;
}

.navbar_left {
    list-style: none;
    color: white;
    padding: 0;
    margin: 0;
}

.navbar__left__link {
    padding: 20px;
}

.navbar__left__link a {
    color: aliceblue;
    text-decoration: none;
}

/* Menu - màu xanh */
.navbar_left li:first-child {
    background-color: aqua;
}

/* di chyển vào menu - thay đổi màu */
.navbar__left__link:hover {
    background-color: green;
}

.accessories {
    width: calc((100%/12)*10);
}

.accessories__title {
    text-align: center;
    color: rgb(0, 162, 255);
    padding: 20px 0;
    margin-top: 0;
}

.accessories__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 40px;
}

.accessories__list__item {
    max-width: calc((100%/12)*4);
    margin-bottom: 50px;

}

.accessories__list__item__info {
    margin: auto;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    padding: 20px 0;
}

.accessories__list__item__info div {
    background-color: orangered;
    color: white;
    width: fit-content;
    margin: auto;
    padding: 10px;
    border-radius: 8px;
}

.accessories__list__item__info img {
    width: 100%;
}

.accessories__list__item__info p {
    color: orangered;
    font-weight: bold;
}

.accessories__list__item__info del {
    color: grey;
    font-weight: 200;
}

.accessories__list__item__info div {
    cursor: pointer;
}

.accessories__list__item__info:a {
    background-color: white;
}

.footer {
    background-color: aqua;
    color: white;
    text-align: center;
}

.footer_content {
    padding: 20px;
}